body {
  margin: 0;
}




.Bild4_1 img {
  width: 200px;
  height: 370px;
  margin-left: 70px;
  margin-right: 35px;
}

hr {
  width: 100%;
  max-width: 600px;
  margin: 40px 0;
}

.Bild7_1 img {
  width: 600px;
  height: auto;
}


.Seite4.bild {
  margin-left: 50px;
}

.Bild1_1 img,
.Bild2_1 img,
.Bild3_1 img,

.Bild8_1 img,
.Bild9_1 img,
.Bild101 img {
  width: 100%;
  max-width: 64%;
  height: auto;
  display: block;
}

hr {
  margin-bottom: 0, 7;
}

p {
  margin-top: 0;
}

p,
h1,
h2,
h3 {
  line-height: 0.3;
}

.Seite4_block {
  display: flex;
}

.Seite4_text2 {
  margin-left: 20px;
  margin-top: 35px;
}

.Seite5Block {
  display: flex;
}

.Seite5Text {
  margin-left: 40px;
  margin-top: 300px;
}

.Seite6Block {
  display: flex;
  margin-top: 20px;
}

.Seite6Text {
  margin-left: 40px;
  margin-top: 150px;
}

.Seite6Text2 {
  margin-left: 10px;
  margin-top: 20px;
}